

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    direction: rtl;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


/* Style text highlighting */
 ::-moz-selection {
    background: #1B3B6F;
    color: #fff;
}

 ::selection {
    background: #1B3B6F;
    color: #fff;
}


/* Style scrollbar */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: #1B3B6F;
}










img {
    max-width: 100%;
}

















body {
    background-color: #ffffff;
    color: #111111;
    font-family: sans-serif;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

h1 {
    position: relative;
    color: #111111;
    font-size: 48px;
    font-weight: lighter;
    line-height: 1.25;
    text-align: center;
}

h2 {
    position: relative;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
}

h2::before {
    font-family: Georgia;
    font-size: 300%;
    font-weight: 100;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .05;
    z-index: -1;
}

h3 {
    font-size: 24px;
    line-height: 1.2;
}

p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 32px;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit !important;
    border: none;
    outline: none;
    cursor: pointer;
}






















/* ##################################### Services #####################################*/


#hero {
    /* needed to make overflow works */
    position: relative;
    overflow: hidden;
}

#hero .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 9fr;
    height: 100vh;
}

.bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
}

.bg-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: .1;
}

header {
    grid-row: 1/2;
    grid-column: 2/12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    z-index: 1;
}



/* Nav button for small screens */

.nav-trigger {
    display: none;

    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 1;
}

.nav-trigger span,
.nav-trigger span::after,
.nav-trigger span::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5px;
    width: 60%;
    border-radius: 10px;
    background: #f0f0f0;
}

.nav-trigger span::before,
.nav-trigger span::after {
width: 150%;
}

.nav-trigger span {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: background 0.3s;
}

.nav-trigger span::after,
.nav-trigger span::before {
    content: '';
    top: 0;
    left: 0;
    transition: background 0.3s, transform 0.3s;
}

.nav-trigger span::before {
    transform: translateY(-9px);
}

.nav-trigger span::after {
    transform: translateY(9px);
}

.nav-open span {
    background-color: transparent !important;
}

.nav-open span::before {
    transform: rotate(-225deg);
}

.nav-open span::after {
    transform: rotate(45deg);
}

header nav.full {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin-left: 2em;
}

nav ul li a {
    color: #999;
    transition: color 400ms;
}

nav ul li a:hover {
    color: #fff;
}
.logo {
    display: flex;
    width: 60px;
}

.social-links {
    display: flex;
}

.social-links a {
    display: flex;
    font-size: 18px;
    color: #f0f0f0;
    transition: opacity 400ms;
}

.social-links a:nth-child(2) {
    margin-left: 60px;
}

.social-links a:hover,
.social-links a:focus,
.social-links a:active {
    opacity: 1;
}

.hero-content {
    grid-row: 2/3;
    grid-column: 2/12;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -95px;
    z-index: 0;
}

.hero-content button {
    background-color: #fff;
    color: #111;
    font-size: 16px;
    font-weight: bolder;
    margin: 3em auto 0;
    padding: .7em 1em;

}

.soon-wrapper {
    text-align: center;
}

.soon-wrapper p {
    color: #999;
    line-height: 28px;
}












/* ##################################### Contact #####################################*/


#contact {
    padding: 10em 0;
}

#contact h2::before {
    content: 'CONTACT';
}

#contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 2em;
}

#contact .social-links {
    margin-top: 1em;
}

#contact .social-links a {
    color: #111;
    font-size: 24px;
    margin: 0 .5em;
    opacity: 1;
}



.whatsapp-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    max-width: 520px;
    margin: 5em 2em 0 2em;
    padding: 4em 1em;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.1), 0px 24px 38px 3px rgba(0, 0, 0, 0.05), 0px 2px 46px 8px rgba(0, 0, 0, 0.08);
}

.whatsapp-contact p {
    margin: 0;
}

.whatsapp-contact button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 1.2em;
    padding: 1.3em 2.8em;
    background-color: #111;
    border: 1px solid #111;
    color: #f0f0f0;
    transition: box-shadow 400ms;
}

.whatsapp-contact i {
    font-size: 20px;
    margin-right: 8px;
}

.whatsapp-contact button:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.5), 0px 24px 38px 3px rgba(0, 0, 0, 0.2), 0px 2px 46px 8px rgba(0, 0, 0, 0.1);
}








/* ##################################### Footer #####################################*/


footer {
    background-color: #111;
    color: #fff;
    border-bottom: 12px solid #652579;
    padding: 6em 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer nav li {
    margin: 0 1em;
}

footer .social-links {
    margin-top: 3em;
}

footer .social-links a {
    margin: 0;
}

footer .social-links a:nth-child(2) {
    margin: 0 2em;
}

footer .container > p {
    text-align: center;
    margin-top: 6em;
    line-height: 1.5;
}




































/* ##########################################################################*/
/* ##########################################################################*/
/* ##########################################################################*/
/* ##########################################################################*/




/* ##################################### media quairies #####################################*/


@media only screen and (max-width: 999px) {


    h2::before {
        font-size: 200%;
        top: 40%;
    }


    /* ##################################### Hero #####################################*/

    header {
        padding-top: 32px;
    }

    .nav-trigger {
        display: block;
    }

    header nav {
        display: none;
        
        justify-content: center;
        background: #111;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    header nav.full {
        display: flex;
    }
    
    header nav ul {
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header nav ul li {
        margin-top: 24px;
    }

    header nav ul li:first-child {
        margin-top: 0;
    }

    header nav ul li {
        font-size: 20px;
    }

    header nav ul li,
    header nav ul li,
    header nav ul li {
        color: #f0f0f0;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-left: 0;
    }

    .logo {
        width: 50px;
    }

}