

#signup, #signin {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

* {
    /* border: 1px solid red; */
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

p {
    margin-top: 1em;
}

.form-wrapper {
    margin-top: 5em;
}

form {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

label {
    font-weight: bold;
}

input {
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    margin: .5em 0;
    width: 100%;
    height: 3em;
    outline: none;
    color: #000;
    border: 2px solid #c7c7c7;
    border-radius: 2px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
  }
  

input:focus {
    border: 2px solid #1B3B6F;
    color: #000;
}

input[type="checkbox"] {
    height: 1em;
    width: 1em;
}

button {
    height: 3.5em;
    margin-top: 1em;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    background-color: #1B3B6F;
    border: 2px solid #1B3B6F;
    color: #ffffff;
}

.right {
    grid-column: 1;
}

.right .header {
    display: flex;
    align-items: center;
    height: 5em;
    padding: 2em
}

.left {
    grid-column: 2;
    background-color: #1B3B6F;

    display: flex;
    align-items: center;
}

.left img {
    height: 90vh;
    margin-right: 4em;
}


@media only screen and (max-width: 1200px) {


    #signup, #signin {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .right {
        width: 100%;
    }

    .form-wrapper {
        margin: 0 auto;
        margin-top: 4em;
        max-width: 400px;
    }
    
    .left {
        display: none;
    }
}
